<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.victor.sexytalk.bisou"

    >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.victor.sexytalk.sexytalk.permission.C2D_MESSAGE" />

    <permission
        android:name="com.victor.sexytalk.bisou.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />



    <application
        android:name=".BisouApplication"
        android:allowBackup="true"
        android:icon="@drawable/launch_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.victor.sexytalk.bisou.SplashScreen"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.victor.sexytalk.bisou.Main"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.victor.sexytalk.bisou.UserInterfaces.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.victor.sexytalk.bisou.UserInterfaces.SignUpActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.victor.sexytalk.bisou.UserInterfaces.SendMessage"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:parentActivityName="com.victor.sexytalk.bisou.Main"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.victor.sexytalk.bisou.UserInterfaces.SendTo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName="com.victor.sexytalk.bisou.UserInterfaces.SendMessage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.victor.sexytalk.bisou.UserInterfaces.ViewTextMessageActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.victor.sexytalk.bisou.Main" />
        <activity
            android:name="com.victor.sexytalk.bisou.UserInterfaces.ViewImageActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.victor.sexytalk.bisou.Main" />
        <activity
            android:name="com.victor.sexytalk.bisou.UserInterfaces.ViewKissActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName="com.victor.sexytalk.bisou.Main"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.victor.sexytalk.bisou.ManagePartnersMain"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName="com.victor.sexytalk.bisou.Main"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.victor.sexytalk.bisou.UserInterfaces.ActivityChangeSexyStatus"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName="com.victor.sexytalk.bisou.Main"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.victor.sexytalk.bisou.UserInterfaces.ActivitySexyCalendar"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:parentActivityName="com.victor.sexytalk.bisou.Main"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.victor.sexytalk.bisou.CustomDialogs.SetBirthday"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_set_birthday"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.victor.sexytalk.bisou.CustomDialogs.ChangePassword"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_change_password"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.victor.sexytalk.bisou.CustomDialogs.ForgotPassword"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_forgot_password"
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.victor.sexytalk.bisou.PushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.backendless.sexytalk.sexytalk" />
            </intent-filter>
        </receiver>

        <service android:name="com.backendless.AndroidService" />


    </application>

</manifest>
