<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.victor.sexytalk.sexytalk" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="com.victor.sexytalk.sexytalk.SexyTalkApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name="com.backendless.AndroidService" />

        <activity
            android:name="com.victor.sexytalk.sexytalk.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.victor.sexytalk.sexytalk.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.victor.sexytalk.sexytalk.SignUpActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.victor.sexytalk.sexytalk.SendMessage"
            android:label="@string/app_name"
            android:parentActivityName="com.victor.sexytalk.sexytalk.Main" >
        </activity>
        <activity
            android:name="com.victor.sexytalk.sexytalk.SendTo"
            android:label="@string/app_name"
            android:parentActivityName="com.victor.sexytalk.sexytalk.SendMessage" >
        </activity>
        <activity
            android:name="com.victor.sexytalk.sexytalk.EditPartnersActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.victor.sexytalk.sexytalk.ViewTextMessageActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.victor.sexytalk.sexytalk.Main" >
        </activity>
        <activity
            android:name="com.victor.sexytalk.sexytalk.ViewImageActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.victor.sexytalk.sexytalk.Main" >
        </activity>
        <activity
            android:name="com.victor.sexytalk.sexytalk.ViewMovieActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.victor.sexytalk.sexytalk.Main" >
        </activity>
        <activity
            android:name="com.victor.sexytalk.sexytalk.ViewKissActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.victor.sexytalk.sexytalk.Main" >
        </activity>
    </application>

</manifest>
